<nav class="navbar navbar-expand-md">
  <div class="logoContainer">
    <a href="">
      <img
        src="../../../assets/marvel-logo.svg"
        alt="MARVEL"
        class="mainLogo"
      />
    </a>
  </div>
  <div class="menuContainer">
    <ul class="menuList">
      <li><a href="">Home</a></li>
      <li><a href="">Characters</a></li>
      <li><a href="">Movies</a></li>
      <li><a href="">News</a></li>
      <li><a href="/admin">Admin Area</a></li>
    </ul>
  </div>
  <div class="userMain">
    <div class="userContainer">
      <div class="insiders">
        <img
          src="../../../assets/insiders.svg"
          alt="insiders"
          class="insiderLogo"
        />
      </div>
      <div class="userLinks">
        <a href="#" class="userSignIn">Sign In</a>
        <span> | </span>
        <a href="#" class="userJoin">Join</a>
      </div>
    </div>
  </div>
</nav>
