<div class="card text-center border border-primary shadow-0 w-25">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{ mutant.img }}" class="img-fluid" />
    <a href="#!">
      <div
        class="mask"
        style="background-color: rgba(251, 251, 251, 0.15)"
      ></div>
    </a>
  </div>

  <div class="card-body">
    <h5 class="card-title">{{ mutant.numeDeErou }}</h5>
    <p class="card-text">{{ mutant.nume }} {{ mutant.prenume }}</p>

    <button type="button" class="btn btn-primary" (click)="onEdit()">
      Edit
    </button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">
      Delete
    </button>
  </div>
</div>
