<div class="movie_card">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="{{ movie.img }}" />
      <h1>{{ movie.title }}</h1>
      <h4>{{ movie.date }}, {{ movie.director }}</h4>
      <span class="minutes">{{ movie.duration }}</span>
      <p class="type">{{ movie.genre }}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{ movie.description }}
      </p>
    </div>
  </div>
  <div
    class="blur_back bright_back"
    style="background: url('{{ movie.side }}');"
  ></div>
</div>
