.moviesHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('https://terrigen-cdn-dev.marvel.com/content/prod/1x/thorloveandthunder_lob_mas_min_dsk_01.jpg');
    color: white;
    height: 40%;
    padding: auto;
}

.moviesHeaderTitle{
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: bold;
}

.moviesHeaderP{
    font-size: 20px;
}

.container{
    margin: 0;
    padding: 0;
    width: 80%;
    display: grid;
    grid-template-columns: 49vw 49vw;
}